<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 변경 필요 -->
<mapper namespace="com.csweb.com.main.model.dao.csWebMapper">
  <select id="getAllDataList" resultType="com.example.demo.model.aws.dto.portfolio">
    SELECT * FROM testTable;
  </select>

</mapper>