<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>main</title>
    <meta name="description" content="웹페이지">
    <!-- css -->
    <link rel="stylesheet" href="/common/css/default.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body class="home">
    <div id="root_home">
        <!-- flex -->
        <haeader class="header_visible">
            <div class="header_container">

            </div>
        </haeader>
    <!-- js -->
    <script src="/common/js/default.js"></script>
</body>
</html>